<div class="container">
  <header class="flex">
    <div class="navTop"><img src="../../../assets/img/logo.png" alt="">
      <ul class="aboutNav1">
        <li><a href="#join">Join as Design Expert</a></li>
        <li><a href="#partner">Partner with LAND Interiors</a></li>
    </ul>
    </div>
    <nav>
      <ul class="aboutNav2">
          <li><a href="#about">About</a></li>
          <li><a href="#project">Projects</a></li>
          <li><a href="#studio">Studio</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
